$brand-panel-light: rgba(255, 255, 255, 0.8);
$brand-panel: rgba(255, 255, 255, 0.5);
$brand-panel-dark: rgba(128, 128, 128, .5);

$brand-lightest: #FFFFFF;
$brand-lighter: #EFEFEF;
$brand-light: #ECECEC;
$brand-dark: #666666;
$brand-darker: #333333;
$brand-darkest: #000000;

$brand-alternate: $brand-darkest;

$round-large: 2px;
$round-larger: 5px;

$shadow-large: 6px;
$shadow-small: 4px;
